@import './dropdown';
.nav {
    &__menu {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__item {
        margin-right: 32px;
        &_with-dropdown {
            position: relative;
            padding-right: 20px;
            &::after {
                position: absolute;
                right: 0;
                content: '';
                width: 16px;
                height: 24px;
                background-image: url('/src/assets/img/dropdown/dropdown-arrow.svg');
                background-size: contain;
                background-repeat: no-repeat;
            }
            &:hover {
                & .nav__dropdown {
                    opacity: 1;
                    transition-delay: .3s;
                    z-index: 100;
                }
            }
        }
    }
    &__link {
        color: $dark;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        &:hover {
            color: $gold;
            transition: all .3s ease;
        }
    }
    &__dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
    }
}