@import '../blocks/gallery';
@import '../blocks/twig';
.recom {
    padding: 96px 0;
    overflow-x: hidden;
    &::before {
        top: 113px;
    }
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
    }
    &__menu-link {
        color: $barley;
        font-size: 18px;
        line-height: 24.59px;
        font-weight: 500;
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }
}